
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?h00mf9');
  src:  url('../fonts/icomoon.eot?h00mf9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?h00mf9') format('truetype'),
    url('../fonts/icomoon.woff?h00mf9') format('woff'),
    url('../fonts/icomoon.svg?h00mf9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix:before,.clearfix:after { 
  content:"";
  display: table;  /* 这句话可以出发BFC BFC可以清除浮动,BFC我们后面讲 */
}
.clearfix:after {
 clear:both;
}
.clearfix {
  *zoom:1;
}
body{
  background-color:#F0F3EF;	
}
* {
	margin: 0;
	padding:0;
}

input,button{
	padding:0;
    border: 0;
}

a{
   text-decoration: none;
   color: #747474;
	font-size: 12px;
}

a:hover{
	color: #f10215;
}

.w{
	width: 1190px;
	margin: auto;
}
img{
	vertical-align: top;
}

.fr{
	float: right;
}
.fl{
	float: left;
}

.style_red{
	color:#f10215!important;
}

.J_event{
	width: 100%;
	background-color: #000;
}

.J_event a{
	height: 80px;
	background: url(../images/top.jpg) no-repeat;
	display: block;
	position: relative;
}

.J_event a i{
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-family: "icomoon";
	position: absolute;
	top: 5px;
	right: 0;
	background: rgba(0,0,0,.4);
	color: #fff;
	font-style: normal;
	font-size:10px;

}
.shortcut{
	height: 30px;
	line-height: 30px;
	background-color: #e3e4e5;
	border-bottom:1px solid #DDD;
	color: #9d9d9d;
	font-size: 12px;

}

.shortcut a{
	color:#9d9d9d;
	font-size:12px;
	text-decoration: none;
}

.shortcut a:hover{
	color: #c81623;
}
li{
	list-style: none;
}
.shortcut .fl li{
	margin-left: 200px;
}
.shortcut .fr li{
    float: left;
}

.pos{
	font-family: "icomoon";
	font-style: normal;
	font-size: 14px;
	color: #f10215;
}
.spacer{
   width: 1px;
   height: 10px;
   background-color: #ccc;
   margin:10px 10px 0;
}

.dropdowm{
	padding-right:15px;
	position: relative;
}
.dropdowm i{
	font-family:"icomoon";
	font-style: normal;
	font-size: 16px;
	position: absolute;
	top:-2px;
	right:-2px;
	
}
.mb{
	position: relative;
	z-index: 1;
}
.erweima{
	width: 60px;
	height: 60px;
	padding: 2px;
	border: 1px solid #ccc;
	position: absolute;
	top:35px;
	left:-8px;
}

.header{
	height: 140px;


}
.inner{
	height: 140px;
	
	position: relative;
}
.logo{
	width: 190px;
	height: 170px;
	position: absolute;
	top: -30px;
	left: 0;
	background-color: red;
}
.logo h1{
	margin:0;
}
.logo a{
	display: block;
	width: 190px;
	height: 170px;
	background: url("../images/logo.jpg");
	text-indent: -9999px;
	overflow: hidden;
    box-shadow:0 -12px  10px rgba(0,0,0,.2);
}
.serach{
	width:550px;
	height:35px;
	position: absolute;
	left: 320px;
	top:25px;
	
}
.serach input{
	width: 493px;
	height: 33px;
	border: 1px solid #f10215;
	padding-left:5px;
	color: #989898;
	outline: none;
	float: left;

}
.serach button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	cursor: pointer;
    outline: none;
    float: left;
 
}

.serach em{
	position: absolute;
	top: 10px;
	right: 65px;
	width: 19px;
	height: 15px;
	cursor: pointer;
	background: url(../images/sprite-search.png) no-repeat;
}

.serach em:hover{
   background: url(../images/sprite-search.png) no-repeat -30px 0;
}
.serach i{
	font-family: "icomoon";
	font-style: normal;
	color: #fff;
	font-size: 20px;
}
.hotwords{
    position: absolute;
    left: 320px;
    top: 70px;
}
.hotwords a{
	color: #9e9b99;
	font-size: 12px;

}

.hotwords a:hover{
	color: #f10215;
}
.mycar{
	width: 188px;
	height: 33px;
	border:1px solid #ccc;
	position: absolute;
	top: 25px;
	right: 100px;
    line-height:33px;
    text-align:center;
}

.mycar a{
	font-size: 14px;
	color: #f10215;
	
}
.mycar i{
	font-family: "icomoon";
	font-style: normal;
	font-size: 15px;
	color: #f10215;
	margin-right: 3px;
}
.mycar s{
	height: 16px;
	line-height: 16px;
	text-decoration: none;
	position: absolute;
    top:5px;
    left:143px;
    background-color: #f10215;
    color: #fff;
    font-size:12px;
    border-radius: 6px; 
    padding:0 3px;

}

.computer{
	position: absolute;
	right: 10px;
	bottom: 0
}

.navitems{
	position:absolute;
	left: 200px;
	bottom: 0;
}

.navitems ul{
	float: left;
}

.navitems ul li{
	float: left;
	margin-left: 30px;

}

.navitems ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #555A5F;
	height: 40px;
	line-height: 40px;
	display: block;

}

.navitems li a:hover {
	color: #f10215;
}

.navitems .spacer{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: -10px;
}
.footer{
	height: 560px;
	background-color: #EAEAEA;
}

.footer-service{

	border-bottom: 1px solid #DEDEDE;
}
.footer-service-inner{
	padding: 30px 0;
}

.footer-service-inner li {
	float: left;
	width: 297px;
	height: 42px;
	

}
.service_unit{
	width: 225px;
	height: 42px;
	margin: 0 auto;
	position: relative;

}
.service_unit h5{
	width: 36px;
	height: 42px;
	background: url(../images/ico_service.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	text-indent: -999em;
	overflow: hidden;
}

.service_unit p{
	margin-left: 45px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
}
.service_unit .kuai{
    background-position:0 -44px;
}
.service_unit .hao{
    background-position:0 -86px;
}
.service_unit .sheng{
    background-position:0 -129px;
}

.help{
	height: 180px;
	padding-top: 20px;
	border-bottom:1px solid #ccc;
}
.help dl{
	float: left;
	width: 195px;
}
.help dt{
	font-size: 14px;
	font-weight: 700;
	color: #666;
	height:30px;
}
.help dd{
	height: 22px;
}
.help dd a{
		color: #727272;
		font-size: 12px;
}
.help dd a:hover{
	color: #f10215;
}
.help .cover{
	float: right;
	width: 207px;
	height: 150px;
	background:url(../images/ico_footer.png) no-repeat;
}
.cover dt{
  text-align:center;
}
.cover .info{
	font-size: 12px;
	color: #727272;
	height: 50px;
	width: 175px;
	margin-top: 5px;
	margin-left: 10px;
	line-height: 18px;

}
.help .more{
	text-align: right;
	padding-right: 20px;
	margin-top: 5px;
}
.copyright{
	padding-top: 15px;
}
.links{
	text-align: center;
}
.links a{
	color: #727272;
	font-size: 12px;
}
.links a:hover{
	color: #f10215;
}
.links span{
	font-size: 12px;
	color: #d4cdcd;
	margin: 0 5px;
}
.c-info{
    margin-top: 15px;
    font-size: 12px;
    line-height: 20px;
    color: #727272;
    text-align: center; 
}
.c-info span{
   font-size: 12px;
   color: #d4cdcd;
   margin: 0 5px;
}
.tupian{
	text-align: center;
	margin-top: 30px;
}
.tupian a{
	width: 103px;
	height: 32px;
	display: inline-block;
	background: url(../images/ico_footer.png) 0 -151px no-repeat;

}
.tupian .kexin{
	background-position: -104px -151px;
}
.tupian .jc{
	background-position: 0 -181px;
}